{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}password-reset{% endblock title %}

{% block content %}
    <form action="" method="post" class="form-control">
        {% csrf_token %}
        <h1>Password Reset</h1><hr style="border: 1px solid green;">
        <div class="row mb-3">
            <div class="col">
                {{ form|crispy }}
            </div>
            <div class="col">
                <button type="submit" class="btn btn-success mt-4">Send</button>
            </div>
        </div>
    </form>
{% endblock content %}
