{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}Set new password{% endblock title %}

{% block content %}
    <form action="" method="post" class="form-control">
        {% csrf_token %}
        <h1>Password Confirmation</h1><hr style="border: 1px solid green;">
        <div class="row mb-3">
            <div class="col">
                {{ form|crispy }}
            </div>
        </div>
        <button type="submit" class="btn btn-success mt-2">Set</button>
    </form>
{% endblock content %}
