{% extends '_base.html' %}

{% block title %}Profile page{% endblock title %}

{% block content %}

    <div class="row mt-5 p-3">
        <div class="col-lg-6">
            <div class="d-flex justify-content-around float-start">
                <!-- <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }} " style="cursor: pointer;"/> -->
                <img class="rounded-circle shadow-1-strong me-3 img-fluid"
                    src="{{ user.profile.avatar.url }}" alt="avatar" width="440"
                    height="360" />
            </div>
        </div>
        {% if user_form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="form_errors">
                    {% for key, value in user_form.errors.items %}
                        <strong>{{ value }}</strong>
                    {% endfor %}
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <div class="form-content col-lg-6">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="small mb-1">Username:</label>
                                {{ user_form.username }}
                            <label class="small mb-1">Email:</label>
                                {{ user_form.email }}
                        </div>
                        <div class="form-group">
                            <a href="#">Change Password</a>
                            <hr>
                            <label class="small mb-1">Change Avatar:</label>
                            {{ profile_form.avatar }}
                        </div>
                        <label class="small mb-2">Bio:</label> {{ profile_form.bio }}
                    </div>
                </div>
                <button type="submit" class="btn btn-success mt-3">Save Changes</button>
                <button type="reset" class="btn btn-danger mt-3">Reset</button>
            </form>
        </div>
    </div>
    
{% endblock content %}
