{% extends 'layout.html' %}

{% block title %}HomePage{% endblock title %}

{% block content %}

    {% if user.is_authenticated %}
    <div class="d-flex justify-content-center box">
        <div class="card shadow my-3 p-5 w-sm-75 w-100">
            <div class="card-body">
                <h1>You have logged in. for more information check the dropdown menu.</h1>
            </div>
        </div>
    </div>
    {% else %}
    <div class="d-flex justify-content-center">
        <div class="card shadow my-3 p-5 w-sm-75 w-100">
                <div class="card-body">
                    <h1 class="text-center">Please login first.</h1>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock content %}
