{% extends 'layout.html' %}

{% block title %}HomePage{% endblock title %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="card mt-4">
            <div class="card-body">
                <h1>You have logged in. for more information check the dropdown menu.</h1>
            </div>
        </div>
    {% else %}
        <div class="card mt-4">
            <div class="card-body">
                <h1>Please login first.</h1>
            </div>
        </div>
    {% endif %}

{% endblock content %}
