{% extends '_base.html' %}

{% block title %}books list{% endblock title %}

{% block content %}
    <h1>List of Books / <a href="{% url 'book_create' %}" class="btn btn-primary">New Book</a></h1><hr style="border: 1px solid green;">
    {% for book in books %}
        <ul>
            <li>
                <h2><a href="{{ book.get_absolute_url }}" class="btn btn-secondary">{{ book.title|capfirst }}</a></h2>
                <h6>{{ book.description|truncatewords:10 }}</h6>
            </li>
        </ul>
    {% endfor %}
    <hr>
    <h5>You have {{ books_num }} book{{ books_num|pluralize }} at your database.</h5>
{% endblock content %}
