{% extends 'simple.html' %}

{% load static %}

{% block title %}book detail{% endblock title %}

{% load crispy_forms_tags %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/comment.css' %}">
{% endblock style %}

{% block content %}

    <div class="container mt-5">

        <div class="">
            <div class="">

                <div class="d-flex justify-content-center">
                    <div class="row w-sm-75 w-100">
                        <div class="col-xs-12 col-md-3 d-flex justify-content-center">
                            <div>
                                {% if book.cover %}
                                    <img src="{{ book.cover.url }}"
                                        class="img-fluid rounded-start shadow" alt="...">
                                {% else %}
                                    <img src="https://wegoboard.com/img/p/fr-default-large_default.jpg"
                                        class="img-fluid rounded-start shadow" alt="...">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 text-center text-md-end mt-md-1 mt-4">
                            <h3>{{ book.title|capfirst }}</h3>
                            <h5 class="small my-1"><span class="text-muted">Author: </span>{{ book.author }}</h5>
                        </div>
                        <div class="col-xs-12 col-md-3 d-flex flex-column">
                            <h3 class="align-self-center pt-2 text-muted align-self-md-end">
                                {{ book.price }} $
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="my-3 p-5 w-sm-75 w-100">
                        {{ book.description|linebreaks }}
                    </div>
                </div>

                <!-- Comments shown section -->
                <section>
                    <div class="container my-5 py-5">
                        <div class="row d-flex justify-content-center">
                        <div class="col-md-12 col-lg-8">
                            <div class="card text-dark">
                                <div class="card-body p-4">
                                    <h4 class="mb-0">Recent comments({{ book.comments.count }})</h4>
                                    <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>
                                    {% for comment in book.comments.all %}
                                        {% if comment.is_active %}
                                            <hr>
                                            <br>
                                            <div class="d-flex flex-start">
                                                <img class="rounded-circle shadow-1-strong me-3"
                                                    src="https://cdn.pixabay.com/photo/2016/08/20/05/38/avatar-1606916_960_720.png" alt="avatar" width="60"
                                                    height="60" />
                                                <div>
                                                    <h6 class="fw-bold mb-1">{{ comment.user.username }}</h6>
                                                    <div class="d-flex align-items-center mb-3">
                                                        <p class="mb-0">
                                                            {{ comment.datetime_created }}
                                                            {% if comment.recommend %}
                                                                <span class="badge bg-primary">recommended</span>
                                                            {% else %}
                                                                <span class="badge bg-danger">not recommended</span>
                                                            {% endif %}
                                                        </p>
                                                        <a href="#!" class="link-muted"><i class="bi-pencil-square ms-2"></i></a>
                                                        <a href="#!" class="link-muted"><i class="bi-heart-fill ms-2"></i></a>
                                                    </div>
                                                    <p class="mb-0">
                                                        {{ comment.text|linebreaks }}
                                                    </p>
                                                </div>
                                            </div>                                                                                                              
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex align-items-center">
                                                    <a href="#!" class="link-muted me-2 text-decoration-none"><i class="bi-hand-thumbs-up-fill me-1"></i>158</a>
                                                    <a href="#!" class="link-muted text-decoration-none"><i class="bi-hand-thumbs-down-fill me-1"></i>13</a>
                                                </div>
                                                <a href="#!" class="link-muted text-decoration-none"><i class="bi-reply-fill me-1"></i> Reply</a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Add comments section -->
                <div class="d-flex justify-content-center">
                    <div class="card shadow my-3 p-5 w-sm-75 w-100">
                        <form action="{% url 'book_detail' slug=book.slug %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form }}
                            </div>
                            <button type="submit" class="btn btn-primary mt-2">
                                comment <i class="bi-arrow-right-circle"></i>
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock content %}
