{% extends '_base.html' %}

{% block title %}books list{% endblock title %}

{% block content %}
    {% for book in books %}
        <ul>
            <li>
                <h2><a href="{{ book.get_absolute_url }}" class="btn btn-danger mt-3">{{ book.title|capfirst }}</a></h2>
                <h6>{{ book.description|truncatewords:10 }}</h6>
            </li>
        </ul>
    {% endfor %}
    <hr>
    <h5>You have {{ books_num }} book{{ books_num|pluralize }} at your database.</h5>
{% endblock content %}
