{% extends '_base.html' %}

{% block title %}book delete{% endblock title %}

{% block content %}
    <div class="card d-flex m-5 justify-content-center">
        <div class="card-body">
            <h2 class="text-center">Do you want to delete - {{ book.title|upper }} - ?</h2>
            <form action="" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger mt-2">Yes</button>
                <a href="{% url 'books_list' %}">
                    <button type="button" class="btn btn-success mt-2">No</button>
                </a>
            </form>
        </div>
    </div>
{% endblock content %}
