{% extends '_base.html' %}

{% block title %}books list{% endblock title %}

{% block content %}

    <div class="row flex-row-reverse justify-content-md-center">
        {% for book in books %}
            <div class="card m-2" style="max-width: 45%">
                <div class="row g-0 h-100">
                    <div class="col-md-4">
                        {% if book.cover %}
                            <img src="{{ book.cover.url }}"
                                class="img-fluid rounded-start" alt="...">
                        {% else %}
                            <img src="https://wegoboard.com/img/p/fr-default-large_default.jpg"
                                class="img-fluid rounded-start" alt="...">
                        {% endif %}
                    </div>
                    <div class="col-md-8 h-100">
                        <div class="d-flex flex-column justify-content-between h-100">
                            <div class="card-body">
                                <a href="{{ book.get_absolute_url }}" class="text-decoration-none"><h3 class="card-title"><strong>{{ book.title|capfirst }}</strong></h3></a>
                                <p class="card-text pt-3">{{ book.description|truncatewords:'10' }}</p>
                                <p class="text-muted">Author: {{ book.author }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <footer class="bg-light text-center text-lg-start mt-3">
        <div class="text-center bg-grey">
            <h5>You have {{ books_num }} book{{ books_num|pluralize }} at your database.</h5>
        </div>
    </footer>

{% endblock content %}
