{% extends '_base.html' %}

{% block title %}book detail{% endblock title %}

{% block content %}
    <h1 class="text-center">{{ book.title }}</h1><hr style="border: 1px solid green;">
    <div dir="rtl">
        <h4>{{ book.description }}</h4>
    </div>
    <br>
    <div dir="rtl">
        <h4><span class="badge bg-secondary">قیمت: {{ book.price }}</span></h4>
        <a href="{% url 'book_update' book.id %}"><button type="button" class="btn btn-primary">ویرایش</button></a>
    </div>
{% endblock content %}
